# Object files
*.o
*.ko
*.gch

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
core
run-*
main

# Temporary output
INSTRUMENTS
rates.txt
pre.dot
post.dot
